<%
  # FIXME: logic in view
  user_id = User.current.id
  journal_ids = JournalDetail.select('journal_id').where('prop_key = ?', "assigned_to_id").where('value = ?', user_id).collect{|i|i.journal_id}.uniq
  issue_ids = Journal.find(journal_ids).collect{|i| i.journalized_id if i.journalized_type == "Issue"} | Journal.select('journalized_id').where('user_id = ?', user_id).where('journalized_type = ?', "Issue").collect{|j|j.journalized_id}.uniq
  issues = Issue.find(issue_ids) | Issue.where('assigned_to_id = ?', user_id).collect{|i| i }
  issues.reverse!
%>
<h3><%=l(:label_issues_with_me)%> (<%= issues.count %>)</h3>

<%= render :partial => 'issues/list_simple', :locals => { :issues => issues } %>
